// Variables

// palette
$white:#F8FFE5;

// Text Colors
$loginHeaderText: #FFEEDB;
$loginBody: #FFEEDB;
$purplergba: rgba(219, 211, 219, 0.8);

// Buttons
$buttonBackgroundColor: #A53860;
$buttonTextColor: #FFEEDB;

// Container Backgrounds
$loginBackground: #6d5b6e;
$loginHeader: #4C3B4D;