@import '../../variables.scss';

.formContainer {
    width: 100%;
    background-color: $buttonBackgroundColor;
}

#messageForm {
    display: flex;
    width: 100%;
    background-color: $buttonBackgroundColor;
}


#formText {
    width: 80%;
    padding: 10px 0px;
}

#formSubmit {
    width: 19%;
    font-size: 16px;
    padding: 10px 0px;
    background-color: $buttonBackgroundColor;
    color: $buttonTextColor;
    border: none;
}