@import '../../variables.scss';

.messageListContainer {
    padding: 10px 20px;
    height: 400px;
    overflow-y: scroll;
    background-color: $messagesBackground;
}

.message {
    padding: 15px;
    background-color: $white;
    border-radius: 4px;
    margin: 12px 0px;
}

.messageDate {
    margin-left: 10px;
    color: $purplergba;
}

.emptyMessage {
    color: $white;
}